
    <script type="text/javascript" src="../../../../bin/lib/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(".cyan, .magenta, .yellow, .black").hide();
        function showhide(color){
            $("#" + color).click(function(){
                $(".active").removeClass("active");
                $(this).addClass("active");
                $("img").hide();
                $("." + color).show();
            });
        }
        $(document).ready(function(){
            showhide("all");
            showhide("cyan");
            showhide("magenta");
            showhide("yellow");
            showhide("black");
        });
    </script>
</body>
</html>
